# Dependencies
node_modules

# Next.js
.next/
out/
build/
dist/

# Environment variables
.env
.env.local
.env*.local
.env copy.local
.env.development
.env.staging
.env.production

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
coverage/
.nyc_output/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Vercel
.vercel

# Misc
*.pem
.turbo
